
.coffee-img{
    height: 200px;
    width: 250px;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-nav.active {
    border-bottom: 2px solid black;
  }